<ion-header>
  <ion-toolbar>
    <ion-title>detalle producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">id producto</ion-label>
    <ion-input placeholder="Enter text"></ion-input>
  </ion-item>
<br>
  <ion-item>
    <ion-label position="floating">title producto</ion-label>
    <ion-input placeholder="Enter text"></ion-input>
  </ion-item>
<br>
  <ion-item>
    <ion-label position="floating">Description producto</ion-label>
    <ion-input placeholder="Enter text"></ion-input>
  </ion-item>
<br>
  <ion-item>
    <ion-label position="floating">Price producto</ion-label>
    <ion-input placeholder="Enter text"></ion-input>
  </ion-item>
<br>
  <ion-item>
    <ion-label position="floating">Discount Percentage Producto</ion-label>
    <ion-input placeholder="Enter text"></ion-input>
  </ion-item>
<br>
  <ion-item>
    <ion-label position="floating">Rating producto</ion-label>
    <ion-input placeholder="Enter text"></ion-input>
  </ion-item>
<br>
  <ion-item>
    <ion-label position="floating">Stock producto</ion-label>
    <ion-input placeholder="Enter text"></ion-input>
  </ion-item>
<br>
  <ion-item>
    <ion-label position="floating">Brand producto</ion-label>
    <ion-input placeholder="Enter text"></ion-input>
  </ion-item>
<br>
  <ion-item>
    <ion-label position="floating">Category products</ion-label>
    <ion-input placeholder="Enter text"></ion-input>
  </ion-item>
<br>
  <ion-item>
    <ion-label position="floating">Thumbnail producto</ion-label>
    <ion-input placeholder="Enter text"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="floating">Images producto</ion-label>
    <ion-input placeholder="Enter text"></ion-input>
  </ion-item>
<br>
  <ion-button>Mostrar más información productos</ion-button>
</ion-content>
