<ion-header>
  <ion-toolbar>
    <ion-title>listar productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Total productos</ion-label>
    <ion-input placeholder="Enter text"></ion-input>
  </ion-item>
<br>
  <ion-item>
    <ion-label position="floating">skip productos</ion-label>
    <ion-input placeholder="Enter text"></ion-input>
  </ion-item>
<br>
<ion-item>
  <ion-label position="floating">Limite de productos</ion-label>
  <ion-input placeholder="Enter text"></ion-input>
</ion-item>

</ion-content>
