<ion-header>
  <ion-toolbar>
    <ion-title>Registrar usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">First Name</ion-label>
    <ion-input placeholder="Enter text"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="floating">Last Name</ion-label>
    <ion-input placeholder="Enter text"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="floating">Age</ion-label>
    <ion-input placeholder="Enter text"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="floating">Username</ion-label>
    <ion-input placeholder="Enter text"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input placeholder="Enter text"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="floating">Birth Date</ion-label>
    <ion-input placeholder="Enter text"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="floating">Gender</ion-label>
    <ion-input placeholder="Enter text"></ion-input>
  </ion-item>

  <ion-button>Registrarse</ion-button>
</ion-content>
